[Unit]
Description=nginx
After=network.target
  
[Service]
Type=forking
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=/usr/sbin/nginx -s quit
PrivateTmp=true
  
[Install]
WantedBy=multi-user.target